*{
    font-family: 'Tajawal';
}


#mydataContent{
    background-color: #210d46;
}
.con_tainer{
    
    box-sizing: border-box;
    width: 80%;
    border-radius: 6px;
    padding: 15px;
    margin: 0 120px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
#head1{
   text-align: center;
   padding-bottom: 45px;
    font-size: 28px;
    color: #2D1162;
    text-shadow: 3px 2px rgba(122, 110, 162, 0.441);
}
#head1::before{
    content: "";
    
   
    background-color: #3f109d;
}
.con_tainer form{
    position: relative;
  

   height: 420px;
    background-color: #fff;
    overflow: hidden;
    
    
}
.con_tainer form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
    
}
.con_tainer form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.con_tainer form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
    
}
.con_tainer form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
    direction: rtl;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    text-align: right;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.con_tainer form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 150px;
    width: 50%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 78px 40px;
    background-color: #2D1162;
    transition: all 0.3s linear;
    cursor: pointer;
}
.con_tainer form .btnText{
    font-size: 14px;
    font-weight: 400;
   
}
form button:hover{
    background-color: #4211a4;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
@media (max-width: 750px) {
    .con_tainer form{
        overflow-y: scroll;
    }
    .con_tainer form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}